body {
  font-family: "Raleway", sans-serif;
  }

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 231px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

p {
  text-align: justify;
}

h2{
  font-family: Impact, "Haettenschweiler", sans-serif;
  font-weight:bolder;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: red;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }

  .navbar-brand img {
    width: 100%;
  }
}

